.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f2f2f2;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 10px;
}

.logo img {
  max-width: 20%;
  height: auto;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
}